/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap'); */

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url(../fonts/Montserrat-Bold.ttf) format('truetype'),
        url(../fonts/Montserrat-SemiBold.ttf) format('truetype'),
        url(../fonts/Montserrat-Medium.ttf) format('truetype'),
        url(../fonts/Montserrat-Regular.ttf) format('truetype'),
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url(../fonts/Roboto-Regular.ttf) format('truetype'),
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro-Bold.eot);
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url(../fonts/GothamPro-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GothamPro-Bold.woff2) format('woff2'),
        url(../fonts/GothamPro-Bold.woff) format('woff'),
        url(../fonts/GothamPro-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro-Light.eot);
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url(../fonts/GothamPro-Light.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GothamPro-Light.woff2) format('woff2'),
        url(../fonts/GothamPro-Light.woff) format('woff'),
        url(../fonts/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro-Black.eot);
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
        url(../fonts/GothamPro-Black.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GothamPro-Black.woff2) format('woff2'),
        url(../fonts/GothamPro-Black.woff) format('woff'),
        url(../fonts/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* @font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Italic.eot');
    src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
        url('GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-Italic.woff2') format('woff2'),
        url('GothamPro-Italic.woff') format('woff'),
        url('GothamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
        url('GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamProNarrow-Bold.woff2') format('woff2'),
        url('GothamProNarrow-Bold.woff') format('woff'),
        url('GothamProNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro-Medium.eot);
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url(../fonts/GothamPro-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GothamPro-Medium.woff2) format('woff2'),
        url(../fonts/GothamPro-Medium.woff) format('woff'),
        url(../fonts/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BoldItalic.eot');
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
        url('GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-BoldItalic.woff2') format('woff2'),
        url('GothamPro-BoldItalic.woff') format('woff'),
        url('GothamPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
} */

@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro.eot);
    src: local('Gotham Pro'), local('GothamPro'),
        url(../fonts/GothamPro.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GothamPro.woff2) format('woff2'),
        url(../fonts/GothamPro.woff) format('woff'),
        url(../fonts/GothamPro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-MediumItalic.eot');
    src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
        url('GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-MediumItalic.woff2') format('woff2'),
        url('GothamPro-MediumItalic.woff') format('woff'),
        url('GothamPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BlackItalic.eot');
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
        url('GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-BlackItalic.woff2') format('woff2'),
        url('GothamPro-BlackItalic.woff') format('woff'),
        url('GothamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Medium.eot');
    src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
        url('GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamProNarrow-Medium.woff2') format('woff2'),
        url('GothamProNarrow-Medium.woff') format('woff'),
        url('GothamProNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-LightItalic.eot');
    src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
        url('GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamPro-LightItalic.woff2') format('woff2'),
        url('GothamPro-LightItalic.woff') format('woff'),
        url('GothamPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Gotham Pro, sans-serif;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.container {
    max-width: 1920px;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding: 7rem 4rem;
}

.wrapper {
    padding-bottom: 3rem;
}


/* .navbar {
    width: 1740px;
    margin: 0 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
   
    

  
    top: 0;
    text-transform: uppercase;
} */

.index__title {
    position: relative;
    width: 1095px;
    height: 570px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.index__title h1 {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
}

.index__title button {
    background: #181ACF;
    padding-right: 50px;
    padding-left: 50px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    align-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid #181ACF;
    height: 2.875rem;
    max-height: 2.875rem;
    margin: 0.25rem 0.125rem;
    padding: 0 1.5rem;
    text-transform: uppercase;
}

.btn-comp {
    margin: auto;
    display: block;

    padding-right: 90px;
    padding-left: 90px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    align-content: center;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    height: 2.875rem;
    max-height: 2.875rem;
    text-transform: uppercase;
}

.section {
    display: block;
    margin: 100px;
}


.contact-us-blocks {
    display: flex;
}

.contact-us__item {
    /* position: absolute; */
    width: 740px;
    left: 987px;
    margin-bottom: 50px;
    margin-right: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.contact-us__item h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    /* identical to box height */

    text-transform: uppercase;

    /* color: #000000; */
}

.contact-us__item:hover {
    background: #181ACF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


.contact-us h1 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 60px;
    /* or 109% */
    text-transform: uppercase;
    color: #000000;
}

.contact-us__content {
    padding: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.our-works__title {
    position: relative;
    width: 1920px;
    height: 105px;
    left: -108px;

    background: #181ACF;
    z-index: 520;
}

.our-works__title h1 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    /* line-height: 53px; */

    padding: 25px 0px 0 0px;
    margin-left: 90px;
    align-content: center;
    text-transform: uppercase;
    color: #ffffff;
}

.our-works {
    font-style: normal;
    font-weight: bold;
    margin-top: 126px
}

.our-works__item {
    border-top: 2px solid #000000;
    /* border-bottom: 2px solid #000000; */
    padding-top: 70px;
    margin: 30px;
}

.our-works__item h1 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 96px;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
}

.our-works__item h1:hover {
    color: #000000;
    border: none;
    cursor: pointer;
}

.tags {
    margin-left: 0;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;

    color: #181ACF;

}

.tags li {
    margin-right: 30px;
}

.advantages {
    margin-top: 126px;
    margin-bottom: 126px;
}

.advantages h1 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 115px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.advantages__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.advantages__content {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-top: 30px;
}

.advantages__content__item__desc {
    /* border-top: 1px solid #000000; */
    /* margin-right: 150px; */
    /* margin-left: 150px; */
    margin-left: 230px;

}

.advantages__content__item__desc p {
    /* border-top: 1px solid #000000; */
    /* margin-right: 150px; */
    /* margin-left: 150px; */
    margin: 0;

}

.advantages__content__item img {
    margin-left: 600px;
    margin-top: 150px;
    margin-bottom: 0;
}


.advantages__content__item {

    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.advantages__content__item--reverse {
    padding-top: 30px;
    border-top: 1px solid #000000;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row-reverse;
}

.advantages__content__item--reverse img {
    margin-right: 600px;
    margin-top: 150px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.advantages__content__item__desc--reverse {
    margin-right: 230px;
}

.advantages__content__item__desc--reverse h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 69px;
    text-transform: uppercase;

    color: #2E2E34;
}

.advantages__wrapper {
    /* margin: 100px; */
    align-items: center;
}

.advantages__content__item__desc h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 69px;
    text-transform: uppercase;

    color: #2E2E34;
}

.advantages-img {
    position: absolute;
    top: 4838px;
    width: 134.4px;
    height: 1276.76px;
    left: 887px;
}

.feedback-link {
    margin-bottom: 100px;
}

.feedback-img {
    margin-bottom: 30px;
}

.layer {
    /* position: absolute;
    width: 1740px;
    height: 261px;
    left: 90px; */
    padding: 20px;
    overflow-x: scroll;
    width: 1740px;
    height: 261px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;

    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.layer h1 {
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;


    color: #000000;
}

.index__img {
    padding-left: 10px;
    padding-right: 10px;
}

/* I STOPPED THERE */

/* Container queries */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 68px);
        padding: 7rem 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: calc(100% - 38px);
        padding: 7rem 1rem;
    }

    .index__title {
        width: calc(100% - 38px);
        height: 419px;
        position: relative;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .index__title h1 {
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 47px;
        line-height: 100px;
    }
}

@media only screen and (max-width: 414px) {
    .container {
        max-width: 100%;
        padding: 7rem 1rem;
    }

    .index__title {
        width: 663px;
        height: 419px;
        position: relative;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .index__title h1 {
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 100px;
    }
}


@media only screen and (max-width: 390px) {
    .container {
        max-width: 100%;
        padding: 7rem 1rem;
    }

    .index__title {
        width: 340px;
        height: 160px;
        position: relative;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .index__title h1 {
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
    }

    .index__title p {
        font-size: 16px;
        line-height: 22px;
    }
    
    .wrapper {
        padding-bottom: 20rem;
    }
}